.lab {
	color: black;
	background-color: #2cdb6f;
	font-family: "Roboto";
	font-size: 14px;
	text-align: center;

}
.my-custom-class-for-label {
	font-family: "Roboto";
	font-size: 14px;
	box-sizing:border-box;
	/* background: #05F24C; */
	color: black;
	background: rgba(7, 216, 42, 0.9); 
	box-shadow: 2px 2px 4px #333;	
	border-radius: 2px;
	-webkit-animation: pulse 1s ease 1s 1;
	-moz-animation: pulse 1s ease 1s 1;
	animation: pulse 1s ease 1s 1;
	padding: 3px;
  }
  
  /* ANIMATIONS */
  @-webkit-keyframes pulse {
   50% {
	  -webkit-transform: scale(2);
	  -moz-transform: scale(2);
	  transform: scale(2);
	}
  
	100% {
	  -webkit-transform: scale(1);
	  -moz-transform: scale(1);
	  transform: scale(1);
	}
  }
  @-moz-keyframes pulse {
   50% {
	  -webkit-transform: scale(2);
	  -moz-transform: scale(2);
	  transform: scale(2);
	}
  
	100% {
	  -webkit-transform: scale(1);
	  -moz-transform: scale(1);
	  transform: scale(1);
	}
  }
  @keyframes pulse {
	50% {
	  -webkit-transform: scale(2);
	  -moz-transform: scale(2);
	  transform: scale(2);
	}
  
	100% {
	  -webkit-transform: scale(1);
	  -moz-transform: scale(1);
	  transform: scale(1);
	}
  }






















#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #2cdb6f;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 400;
	padding: 7px 0;
}
.iw-fieldInfo {
	font-size: 14px;
	font-weight: 300;
}