<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>commerce-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>
        <ion-row>
          <ion-col no-padding>
              <ion-img [src]=''> </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1> {{ activeCommerce.name }}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
