<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{activeCommerce.name }}</ion-title>
  </ion-toolbar>
</ion-header>
            <ion-content>
              <ion-slides [options]="slideOpts" paginationType="progress">
                  <ion-slide *ngFor="let photo of photoUrls">
                      <ion-img [src]= "photo"> </ion-img>
                  </ion-slide>
              </ion-slides>
        <ion-grid no-padding>
        <ion-row>
          <ion-col no-padding>
              <ion-text color="dark">
                  <h1 text-center> {{ activeCommerce.name }}</h1>
                </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                  <ion-icon name="pin"></ion-icon>
                  <h3>{{ placeSelected.formatted_address }}</h3>
              </ion-item>
              <ion-item>
                  <ion-icon name="keypad"></ion-icon>
                  <h3>{{ placeSelected.name }}</h3>
              </ion-item>
              <ion-item>
                  <ion-icon name="planet"></ion-icon>
                  <h3>{{ extraInfoPlaceSelected.website }}</h3>
              </ion-item>
              <ion-item>
                  <ion-icon name="call"></ion-icon>
                  <h3>{{ extraInfoPlaceSelected.formatted_phone_number }}</h3>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
