<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{activeCommerce.name }}</ion-title>
  </ion-toolbar>
</ion-header>
            <ion-content>
              <ion-slides>
                  <ion-slide *ngFor="let photo of photoUrls">
                      <ion-img [src]= "photo"> </ion-img>
                  </ion-slide>
              </ion-slides>
        <ion-grid>
        <ion-row>
          <ion-col>
            <h1> {{ activeCommerce.name }}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
