<ion-content padding >
    <ion-grid>
        <ion-row justify-content-center center> 
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
              <!-- <ion-card>
                <ion-card-header>
                  <ion-card-title>Please, Sign In</ion-card-title>
                </ion-card-header>
                <ion-card-content> -->
                  <ion-item>
                    <ion-label position="floating">Nombre de usuario</ion-label>
                    <ion-input type="text" formControlName="username"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                  </ion-item>
                  <ion-item lines="none" lines="full" padding-top>
                    <ion-button  full expand="full" size="default" color="success" type="submit" [disabled]="!loginForm.valid">Ingresar</ion-button>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-button  full type="button" expand="full" size="default"  color="medium" (click)="register()">Registro</ion-button>
                  </ion-item>

                  <div class="centrado" *ngIf="showErrorMessage">
                    <ion-item>
                      <ion-label color="danger" position="center">El usuario y/o contrasena ingresados no es correcto</ion-label>
                    </ion-item>
                  </div>
                <!-- </ion-card-content>
              </ion-card> -->
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>