<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center center> 
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)">
                  <ion-item>
                    <ion-label position="floating">Username</ion-label>
                    <ion-input type="text" formControlName="username"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="text" formControlName="email" type="email"></ion-input>
                  </ion-item>
                  <ion-list>
                    <ion-radio-group>
                      <ion-list-header>
                        Rol
                      </ion-list-header>
                      <ion-item>
                        <ion-label>Comprador</ion-label>
                        <ion-radio value="Comprador" formControlName="rol"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>Vendedor</ion-label>
                        <ion-radio value="Vendedor" formControlName="rol"></ion-radio>
                      </ion-item>
                  </ion-radio-group>
                  </ion-list>
                <ion-item lines="none" padding-top>
                  <ion-button expand="block" size="default" color="success" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
                </ion-item>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>